footer {
  padding: 4rem 0;
  border-top: 1px solid var(--border);
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 0.8rem;
  color: var(--text-muted);
}

@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
